<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="div1">
        <h1>click to watch your videos</h1><br>
        <table>
            <tr>
                <td><iframe width="360" height="215" src="https://www.youtube.com/embed/esnZTQxRGgI" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
                picture-in-picture" allowfullscreen></iframe>&nbsp;&nbsp;</td>
                <td><iframe width="360" height="215" src="https://www.youtube.com/embed/bHWgc5MPnPA" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                     picture-in-picture" allowfullscreen></iframe> &nbsp;&nbsp;</td>
                <td><iframe width="360" height="215" src="https://www.youtube.com/embed/hQYRDNl-lGI" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
                        picture-in-picture" allowfullscreen></iframe> &nbsp;&nbsp;</td>
            </tr>


            <tr>


                <td><iframe width="360" height="215" src="https://www.youtube.com/embed/bHWgc5MPnPA" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                     picture-in-picture" allowfullscreen></iframe> &nbsp;&nbsp;</td>
                <td><iframe width="360" height="215" src="https://www.youtube.com/embed/_bkX5VkZg8U" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
                        picture-in-picture" allowfullscreen></iframe> &nbsp;&nbsp;
                </td>
                <td><iframe width="360" height="215" src="https://www.youtube.com/embed/bHWgc5MPnPA" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                            picture-in-picture" allowfullscreen></iframe> &nbsp;&nbsp;</td>
            </tr>


            <tr>
                <td><iframe width="360" height="215" src="https://www.youtube.com/embed/sTWxltITfYw" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
                picture-in-picture" allowfullscreen></iframe>&nbsp;&nbsp;</td>
                <td><iframe width="360" height="215" src="https://www.youtube.com/embed/4x678Pwpk6A" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
                    picture-in-picture" allowfullscreen></iframe>&nbsp;&nbsp;</td>
                <td><iframe width="360" height="215" src="https://www.youtube.com/embed/nV0oOWuj1p0" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
     picture-in-picture" allowfullscreen></iframe>&nbsp;&nbsp;</td>
            </tr>

            <tr>


                <td><iframe width="360" height="215" src="https://www.youtube.com/embed/bHWgc5MPnPA" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
             picture-in-picture" allowfullscreen></iframe> &nbsp;&nbsp;</td>
                <td><iframe width="360" height="215" src="https://www.youtube.com/embed/_bkX5VkZg8U" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
                picture-in-picture" allowfullscreen></iframe> &nbsp;&nbsp;
                </td>
                <td><iframe width="360" height="215" src="https://www.youtube.com/embed/bHWgc5MPnPA" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                    picture-in-picture" allowfullscreen></iframe> &nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <iframe width="360" height="215" src="https://www.youtube.com/embed/vP9QpcqzSns" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
         picture-in-picture" allowfullscreen></iframe>&nbsp;&nbsp;
                </td>
                <td>
                    <iframe width="360" height="215" src="https://www.youtube.com/embed/wcrZR9DHUUI" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
         picture-in-picture" allowfullscreen></iframe>&nbsp;&nbsp;
                </td>
                <td>
                    <iframe width="360" height="215" src="https://www.youtube.com/embed/ACC7N7vH9gg" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
         picture-in-picture" allowfullscreen></iframe>&nbsp;&nbsp;
                </td>
            </tr>






        </table>
    </div>
</body>

</html> -->
















<!DOCTYPE html>
<html>

<body>

    <div class="home">
        <h2> Watch Your Videos</h2>
    </div>


    <div class="row">
        <div class="col-sm-3" style="background-color:white">
            <ul class="no-bullets">
                <li><a href=""> Home</a></li> <br>
                <li> <a href=""> Trending</a></li><br>
                <li><a href="">Subscriptions</a></li><br>
                <li><a href="">Library</a></li><br>
                <li><a href="">History</a></li><br>
                <li><a href="">Liked videos</a></li><br>
                <li><a href="">Watch Later</a></li><br>
            </ul>
        </div>
        <div class="col-sm-3">

            <iframe width="360" height="215" src="https://www.youtube.com/embed/vP9QpcqzSns" frameborder="0" allow="accelerometer;
             autoplay; clipboard-write; encrypted-media; gyroscope;
     picture-in-picture" allowfullscreen></iframe> <br><br>

            <iframe width="360" height="215" src="https://www.youtube.com/embed/wcrZR9DHUUI" frameborder="0" allow="accelerometer; 
            autoplay; clipboard-write; encrypted-media; gyroscope;
     picture-in-picture" allowfullscreen></iframe><br><br>
     <iframe width="360" height="215" src="https://www.youtube.com/embed/esnZTQxRGgI" frameborder="0" allow="accelerometer; autoplay; 
     clipboard-write; encrypted-media; gyroscope; 
picture-in-picture" allowfullscreen></iframe><br><br>


            <iframe width="360" height="215" src="https://www.youtube.com/embed/ACC7N7vH9gg" frameborder="0" allow="accelerometer; 
            autoplay; clipboard-write; encrypted-media; gyroscope;
     picture-in-picture" allowfullscreen></iframe> <br> <br>



        </div>

        <br><br>
        <div class="col-sm-3">

            <iframe width="360" height="215" src="https://www.youtube.com/embed/bHWgc5MPnPA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
             picture-in-picture" allowfullscreen></iframe> <br><br>
            <iframe width="360" height="215" src="https://www.youtube.com/embed/_bkX5VkZg8U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
                picture-in-picture" allowfullscreen></iframe> <br><br>

            <iframe width="360" height="215" src="https://www.youtube.com/embed/bHWgc5MPnPA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                    picture-in-picture" allowfullscreen></iframe><br><br>
                    <iframe width="360" height="215" src="https://www.youtube.com/embed/esnZTQxRGgI" frameborder="0" allow="accelerometer; autoplay; 
                    clipboard-write; encrypted-media; gyroscope; 
        picture-in-picture" allowfullscreen></iframe><br><br>




        </div>

        <div class="col-sm-3">
            <iframe width="360" height="215" src="https://www.youtube.com/embed/esnZTQxRGgI" frameborder="0" allow="accelerometer; autoplay; 
            clipboard-write; encrypted-media; gyroscope; 
picture-in-picture" allowfullscreen></iframe><br><br>
            <iframe width="360" height="215" src="https://www.youtube.com/embed/bHWgc5MPnPA" frameborder="0" allow="accelerometer; autoplay; 
            clipboard-write; encrypted-media; gyroscope;
     picture-in-picture" allowfullscreen></iframe><br><br>
            <iframe width="360" height="215" src="https://www.youtube.com/embed/hQYRDNl-lGI" frameborder="0" allow="accelerometer; autoplay; 
            clipboard-write; encrypted-media; gyroscope; 
        picture-in-picture" allowfullscreen></iframe><br><br>
        <iframe width="360" height="215" src="https://www.youtube.com/embed/esnZTQxRGgI" frameborder="0" allow="accelerometer; autoplay; 
        clipboard-write; encrypted-media; gyroscope; 
picture-in-picture" allowfullscreen></iframe> <br><br>

        </div>



    </div>





</body>

</html>