.div1
{
    margin-right: 0px;
    margin-left: 100px;
}

.home
{
    padding: 20px 50px 20px 10px ;
    background-color:white;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
ul.no-bullets {
    list-style-type: none;
    
}