




<!DOCTYPE html>
<html>

<body>

    <div class="home">
        <h2> Video Player</h2>
    </div>
    <div class="play">
        <button routerLink="home1"> click to play</button>
    </div><br>
    
    <div class="row">
        <div class="col-sm-3" style="background-color:white">
            <ul class="no-bullets">
                <li><a href=""> Home</a></li> <br>
                <li> <a href=""> Trending</a></li><br>
                <li><a href="">Subscriptions</a></li><br>
                <li><a href="">Library</a></li><br>
                <li><a href="">History</a></li><br>
                <li><a href="">Liked videos</a></li><br>
                <li><a href="">Watch Later</a></li><br>
            </ul>
        </div>
        <div class="col-sm-3" ><img src="../../assets/images/download (4).jfif" height="170" width="270"><br><br>
            <img src="../../assets/images/Screenshot (39).png" height="170" width="270"><br><br>
            <img src="../../assets/images/download (1).jfif" height="170" width="270"><br><br>
            <img src="../../assets/images/download (3).jfif" height="170" width="270"><br><br>
            <img src="../../assets/images/Screenshot (31).png" height="170" width="270"><br><br>
            <img src="../../assets/images/download.jfif" height="170" width="270"><br><br>

        </div>

        <div class="col-sm-3"><img src="../../assets/images/Screenshot (40).png" height="170" width="270"><br><br>
            <img src="../../assets/images/Screenshot (39).png" height="170" width="270"><br><br>
            <img src="../../assets/images/Screenshot (38).png" height="170" width="270"><br><br>
            <img src="../../assets/images/Screenshot (37).png" height="170" width="270"><br><br>
            <img src="../../assets/images/Screenshot (37).png" height="170" width="270"><br><br>
            <img src="../../assets/images/Screenshot (36).png" height="170" width="270"><br><br>

        </div>

        <div class="col-sm-3"><img src="../../assets/images/download (4).jfif" height="170" width="270"><br><br>
            <img src="../../assets/images/Screenshot (34).png" height="170" width="270"><br><br>
            <img src="../../assets/images/Screenshot (35).png" height="170" width="270"><br><br>
            <img src="../../assets/images/Screenshot (32).png" height="170" width="270"><br><br>
            <img src="../../assets/images/Screenshot (37).png" height="170" width="270"><br><br>
            <img src="../../assets/images/Screenshot (39).png" height="170" width="270"><br><br>

        </div>

        </div>
        






       
                
        
</body>

</html>